img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    position: relative;
}
a {
    position: absolute;
    margin: 0 auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 280px;
    background:
        /* color overlay */
            linear-gradient(
                    rgba(240, 212, 0, 0.45),
                    rgba(0, 0, 0, 0.45)
            ),
                /* image to overlay */
            url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}