<div class="clearfix" ng-controller="toast">
    <form ng-Submit="post();showSimpleToast();">
        <textarea required class="form-control" maxlength="100" placeholder="Title" ng-model="newPost.title"></textarea>
        <div ng-repeat="q in newPost.quests " ng-class-odd="'odd'" ng-class-even="'even'">
            <br>
            <input type="text" class="form-control" aria-label="Text input with radio button"
                   placeholder="Question" ng-model="q.quest">
            <br>
            <md-radio-group ng-model="q.key">
                <div flex layout="column">
                    <div layout="row">
                        <div flex layout="row" layout-align="start center">
                            <md-radio-button value="a"></md-radio-button>
                            <md-input-container>
                                <label>choice a</label>
                                <input ng-model="q.a">
                            </md-input-container>

                        </div>
                        <div flex layout="row" layout-align="start center">
                            <md-radio-button value="b"></md-radio-button>
                            <md-input-container>
                                <label>choice b</label>
                                <input ng-model="q.b">
                            </md-input-container>
                        </div>
                    </div>
                    <br>
                    <div layout="row">
                        <div flex layout="row" layout-align="start center">
                            <md-radio-button value="c"></md-radio-button>
                            <md-input-container>
                                <label>choice c</label>
                                <input ng-model="q.c">
                            </md-input-container>
                        </div>
                        <div flex layout="row" layout-align="start center">
                            <md-radio-button value="d"></md-radio-button>
                            <md-input-container>
                                <label>choice d</label>
                                <input ng-model="q.d">
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-radio-group>
            <!--<input type="text" placeholder="Choice 1" ng-model="q.a">
            <input type="text" placeholder="Choice 2" ng-model="q.b">
            <input type="text" placeholder="Choice 3" ng-model="q.c">
            <input type="text" placeholder="Choice 4" ng-model="q.d">
            <input type="text" placeholder="Key" ng-model="q.key">-->
        </div>
        <input class="btn submit-btn pull-right" ng-click="add();s" type="button" value="add question"/>
        <input class="btn submit-btn pull-right" type="submit" value="save"/>
    </form>


    </div>
    <!--
        {{newPost.quests}}
    -->
</div>