<html>
<head>
    <title>Question Bank</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="../public/stylesheets/home.css" media="screen" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="./javascripts/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="./stylesheets/style.css">

</head>
<body ng-app="chatApp">
<div id='main' id="bor">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Virtual Class Room</h1>
            <span class="j"><a ng-show="authenticated" href="#/create">Create Questions</a> </span>
            <span class="j"><a href="#/view">View Questions</a></span>
            <span class="j"><a href="#" ng-show="authenticated" ng-click="signout()">signout</a></span>
            <span class="j"><a ng-hide="authenticated" href="#/login">Login</a></span>
            <span class="j"> <a ng-hide="authenticated" href="#/register">Register</a></span>
        </div>
        <div ui-view>
        </div>
    </div>
    <div id="footer">
        <div class="container" style="background-color: #ede7f6">
            <div class="row">
                <br>
                <div class="col-md-4">
                    <center>
                        <span class="glyphicon glyphicon-search" style="font-size: 50px;">
                        <br>
                        <h4 class="footertext">identify</h4>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <span class="glyphicon glyphicon-book" style="font-size: 50px;">
                        <br>
                        <h4 class="footertext">Learn</h4>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <span class="glyphicon glyphicon-pencil" style="font-size: 50px;">
                        <br>
                        <h4 style="text-align: center">Code!!</h4>
                    </center>
                </div>
            </div>
            <div class="row">
                <p class="footertext" style="text-align: center">Copyright 2016</p>
            </div>
        </div>
</div>
</html>