<!--
<form class="form-auth" ng-submit="login()">
	<h2>Log In</h2>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
	<input type="submit" value="Log in" class="btn btn-primary" />
</form>
-->
<style>
    @import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

    .login-card {
        padding: 40px;
        width: 274px;
        background-color: #F7F7F7;
        margin: 0 auto 10px;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .login-card h1 {
        font-weight: 100;
        text-align: center;
        font-size: 2.3em;
    }

    .login-card input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .login-card input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .login-card input[type=text]:hover, input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .login {
        text-align: center;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
        /* border-radius: 3px; */
        /* -webkit-user-select: none;
          user-select: none; */
    }

    .login-submit {
        /* border: 1px solid #3079ed; */
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        background-color: #4d90fe;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
    }

    .login-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        background-color: #357ae8;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

    .login-card a {
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
        transition: opacity ease 0.5s;
    }

    .login-card a:hover {
        opacity: 1;
    }

    .login-help {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
</style>
<div class="col-sm-4" >
    <div class="login-card" style="background-color: rgba(211, 233, 238, 0.41)" >
        <h1>Teacher login</h1>
        <form class="form-auth" ng-submit="login()">

            <p class="text-warning">{{error_message}}</p>
            <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
            <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
            <input type="submit" value="Log in" class="login login-submit"/>
            <div class="login-help">
                <a href="#/register">Register</a> • <a href="#">Forgot Password</a>
            </div>
        </form>
    </div>
</div>
<div class="col-sm-4">
    <div class="login-card" style="background-color: rgba(211, 233, 238, 0.41)">
        <h1>Student login</h1>
        <form class="form-auth" ng-submit="login()">

            <p class="text-warning">{{error_message}}</p>
            <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
            <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
            <input type="submit" value="Log in" class="login login-submit"/>
            <div class="login-help">
                <a href="#/register">Register</a> • <a href="#">Forgot Password</a>
            </div>
        </form>
    </div>
</div>
<div class="col-sm-4">
    <div class="login-card" style="background-color: rgba(211, 233, 238, 0.42)">
        <h1>Guest login</h1>
        <form class="form-auth" ng-submit="login()">

            <p class="text-warning">{{error_message}}</p>
            <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
            <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
            <input type="submit" value="Log in" class="login login-submit"/>
            <div class="login-help">
                <a href="#/register">Register</a> • <a href="#">Forgot Password</a>
            </div>
        </form>
    </div>
</div>
<script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>


<!--<div class="login-card">
    <h1>Log-in</h1><br>
    <form>
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <input type="submit" name="login" class="login login-submit" value="login">
    </form>

    <div class="login-help">
        <a href="#">Register</a> • <a href="#">Forgot Password</a>
    </div>
</div>-->
