<div class="post">
    <h1>Question Set:{{quest.title}}</h1><br>
    <div class="post" ng-repeat="q in quest.quests | orderBy:'date':true" ng-class-odd="'odd'" ng-class-even="'even'">
        <h3>Question:{{q.quest}}</h3>
        <md-radio-group ng-model="q.ans">
            <div flex layout="column">
                <div flex layout="row">
                    <md-radio-button flex="50" value="a">{{q.a}}</md-radio-button>
                    <md-radio-button flex="50" value="b"> {{q.b}}</md-radio-button>
                </div>
                <div flex layout="row">
                    <md-radio-button flex="50" value="c">{{q.c}}</md-radio-button>
                    <md-radio-button flex="50" value="d">{{q.d}}</md-radio-button>
                </div>
            </div>
        </md-radio-group>
    </div>
    <input class="btn submit-btn pull-right" ng-click="mar()" type="button" value="Submit"/>
    <h5>Total Questions:{{len}}</h5>
    <h5>Correct Answers:{{cor}}</h5>
    <h5>Incorrect Answers:{{inc}}</h5>
    <h5>Not Answered:{{no}}</h5>
    <h1>Total Mark:{{mark}}</h1>
</div>
