<form ng-Submit="sendMessage()">
    <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="messageText"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="send" />
</form>
<div id="post-stream">
    <h4>Chat Feed</h4>
    {{messages}}
    <div class="post" ng-repeat="post in messages " ng-class-odd="'odd'" ng-class-even="'even'">
        <p>{{post.text}}

        <small>Posted by @{{post.createdby}}</small>
        <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
    </div>
</div>