<div id="post-stream">
    <h4>Questions</h4>
    <div class="post" ng-repeat="p in quest  | orderBy:'date':true" ng-class-odd="'odd'" ng-class-even="'even'">
           <span>
                &nbsp;&nbsp;
               <a ng-href="#/paper/{{p._id}}">{{p.title}}</a>
               <br>
               <input ng-show="authenticated" class="btn submit-btn pull-right  btn-sm" ng-click="delete(p)" type="button" value="Delete"/>
               <br>
            </span>
        <br>
    </div>
</div>